<mat-toolbar color="primary">
  <mat-toolbar-row>
    <i class="material-icons">
      3d_rotation
    </i>
    <!--
      <img class="logo" src="https://cdn-segurosfalabella.azureedge.net/web/img/vectors/logos/co-color.svg" alt="Agencia de Seguros">
    -->
    <span>Full Stack Developer</span>
    <span class="spacer"></span>
    <a href="https://github.com/fernandoarevalo">
      <i class="fab fa-github"></i>
      <span class="github-button">GitHub</span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<section>
  <app-poliza></app-poliza>
</section>